:root {
  --Color-styles-base-alt: hsl(0, 0%, 98%);
  --Color-styles-base-default-color: hsl(0, 0%, 100%);
  --Color-styles-box-disabled-default-color: hsl(0, 0%, 95%);
  --Color-styles-box-disabled-inverse: hsl(180, 1%, 67%);
  --Color-styles-box-disabled-strong: hsl(180, 1%, 84%);
  --Color-styles-box-disabled-strong-inverse: hsl(0, 0%, 100%);
  --Color-styles-box-negative-default-color: hsl(352, 79%, 95%);
  --Color-styles-box-negative-hover: hsl(350, 91%, 91%);
  --Color-styles-box-negative-inverse: hsl(350, 65%, 36%);
  --Color-styles-box-negative-inverse-hover: hsl(350, 65%, 36%);
  --Color-styles-box-negative-inverse-pressed: hsl(356, 37%, 25%);
  --Color-styles-box-negative-pressed: hsl(350, 95%, 83%);
  --Color-styles-box-negative-strong: hsl(349, 98%, 78%);
  --Color-styles-box-negative-strong-hover: hsl(350, 99%, 68%);
  --Color-styles-box-negative-strong-inverse: hsl(180, 5%, 19%);
  --Color-styles-box-negative-strong-inverse-hover: hsl(180, 5%, 19%);
  --Color-styles-box-negative-strong-inverse-pressed: hsl(180, 5%, 19%);
  --Color-styles-box-negative-strong-pressed: hsl(350, 100%, 61%);
  --Color-styles-box-neutral-default-color: hsl(0, 0%, 95%);
  --Color-styles-box-neutral-hover: hsl(180, 2%, 92%);
  --Color-styles-box-neutral-inverse: hsl(180, 5%, 19%);
  --Color-styles-box-neutral-inverse-hover: hsl(180, 4%, 11%);
  --Color-styles-box-neutral-inverse-pressed: hsl(0, 0%, 3%);
  --Color-styles-box-neutral-mighty: hsl(180, 5%, 19%);
  --Color-styles-box-neutral-mighty-hover: hsl(180, 4%, 27%);
  --Color-styles-box-neutral-mighty-inverse: hsl(0, 0%, 100%);
  --Color-styles-box-neutral-mighty-inverse-hover: hsl(0, 0%, 100%);
  --Color-styles-box-neutral-mighty-inverse-pressed: hsl(180, 2%, 92%);
  --Color-styles-box-neutral-mighty-line: hsl(0, 0%, 100% / 0.15);
  --Color-styles-box-neutral-mighty-pressed: hsl(0, 0%, 3%);
  --Color-styles-box-neutral-pressed: hsl(180, 1%, 84%);
  --Color-styles-box-neutral-strong: hsl(180, 4%, 27%);
  --Color-styles-box-neutral-strong-hover: hsl(180, 5%, 19%);
  --Color-styles-box-neutral-strong-inverse: hsl(0, 0%, 100%);
  --Color-styles-box-neutral-strong-inverse-hover: hsl(0, 0%, 95%);
  --Color-styles-box-neutral-strong-inverse-pressed: hsl(180, 2%, 92%);
  --Color-styles-box-neutral-strong-pressed: hsl(180, 4%, 11%);
  --Color-styles-box-positive-default-color: hsl(169, 44%, 92%);
  --Color-styles-box-positive-hover: hsl(169, 54%, 86%);
  --Color-styles-box-positive-inverse: hsl(170, 61%, 27%);
  --Color-styles-box-positive-inverse-hover: hsl(170, 61%, 27%);
  --Color-styles-box-positive-inverse-pressed: hsl(164, 26%, 25%);
  --Color-styles-box-positive-pressed: hsl(169, 60%, 75%);
  --Color-styles-box-positive-strong: hsl(169, 63%, 63%);
  --Color-styles-box-positive-strong-hover: hsl(170, 64%, 51%);
  --Color-styles-box-positive-strong-inverse: hsl(180, 5%, 19%);
  --Color-styles-box-positive-strong-inverse-hover: hsl(180, 5%, 19%);
  --Color-styles-box-positive-strong-inverse-pressed: hsl(180, 5%, 19%);
  --Color-styles-box-positive-strong-pressed: hsl(170, 100%, 39%);
  --Color-styles-box-selected-default-color: hsl(263, 62%, 95%);
  --Color-styles-box-selected-hover: hsl(259, 76%, 92%);
  --Color-styles-box-selected-inverse: hsl(250, 35%, 44%);
  --Color-styles-box-selected-inverse-hover: hsl(250, 35%, 44%);
  --Color-styles-box-selected-inverse-pressed: hsl(0, 0%, 3%);
  --Color-styles-box-selected-pressed: hsl(254, 96%, 80%);
  --Color-styles-box-selected-strong: hsl(253, 100%, 67%);
  --Color-styles-box-selected-strong-hover: hsl(251, 61%, 60%);
  --Color-styles-box-selected-strong-inverse: hsl(0, 0%, 100%);
  --Color-styles-box-selected-strong-inverse-hover: hsl(0, 0%, 100%);
  --Color-styles-box-selected-strong-inverse-pressed: hsl(0, 0%, 100%);
  --Color-styles-box-selected-strong-pressed: hsl(253, 51%, 53%);
  --Color-styles-box-warning-default-color: hsl(39, 82%, 93%);
  --Color-styles-box-warning-hover: hsl(40, 93%, 89%);
  --Color-styles-box-warning-inverse: hsl(42, 100%, 20%);
  --Color-styles-box-warning-inverse-hover: hsl(42, 100%, 20%);
  --Color-styles-box-warning-inverse-pressed: hsl(43, 100%, 15%);
  --Color-styles-box-warning-pressed: hsl(42, 96%, 79%);
  --Color-styles-box-warning-strong: hsl(42, 99%, 69%);
  --Color-styles-box-warning-strong-hover: hsl(42, 99%, 60%);
  --Color-styles-box-warning-strong-inverse: hsl(180, 5%, 19%);
  --Color-styles-box-warning-strong-inverse-hover: hsl(180, 5%, 19%);
  --Color-styles-box-warning-strong-inverse-pressed: hsl(180, 5%, 19%);
  --Color-styles-box-warning-strong-pressed: hsl(42, 100%, 50%);
  --Color-styles-color-charcoal: hsl(180, 5%, 19%);
  --Color-styles-color-green-10: hsl(169, 44%, 92%);
  --Color-styles-color-green-100: hsl(164, 26%, 25%);
  --Color-styles-color-green-20: hsl(169, 54%, 86%);
  --Color-styles-color-green-30: hsl(169, 60%, 75%);
  --Color-styles-color-green-40: hsl(169, 63%, 63%);
  --Color-styles-color-green-50: hsl(170, 64%, 51%);
  --Color-styles-color-green-60: hsl(170, 100%, 39%);
  --Color-styles-color-green-70: hsl(169, 95%, 37%);
  --Color-styles-color-green-80: hsl(170, 72%, 29%);
  --Color-styles-color-green-90: hsl(170, 61%, 27%);
  --Color-styles-color-green-bright: hsl(170, 100%, 39%);
  --Color-styles-color-green-mid: hsl(156, 56%, 68%);
  --Color-styles-color-green-pastel: hsl(158, 37%, 81%);
  --Color-styles-color-grey-0: hsl(0, 0%, 100%);
  --Color-styles-color-grey-10: hsl(0, 0%, 95%);
  --Color-styles-color-grey-100: hsl(0, 0%, 3%);
  --Color-styles-color-grey-20: hsl(180, 2%, 92%);
  --Color-styles-color-grey-30: hsl(180, 1%, 84%);
  --Color-styles-color-grey-40: hsl(180, 1%, 67%);
  --Color-styles-color-grey-5: hsl(0, 0%, 98%);
  --Color-styles-color-grey-50: hsl(180, 1%, 51%);
  --Color-styles-color-grey-60: hsl(180, 2%, 43%);
  --Color-styles-color-grey-65: hsl(180, 2%, 33%);
  --Color-styles-color-grey-70: hsl(180, 4%, 27%);
  --Color-styles-color-grey-80: hsl(180, 5%, 19%);
  --Color-styles-color-grey-90: hsl(180, 4%, 11%);
  --Color-styles-color-off-white: hsl(0, 0%, 98%);
  --Color-styles-color-red-10: hsl(352, 79%, 95%);
  --Color-styles-color-red-100: hsl(356, 37%, 25%);
  --Color-styles-color-red-20: hsl(350, 91%, 91%);
  --Color-styles-color-red-30: hsl(350, 95%, 83%);
  --Color-styles-color-red-40: hsl(349, 98%, 78%);
  --Color-styles-color-red-50: hsl(350, 99%, 68%);
  --Color-styles-color-red-60: hsl(350, 100%, 61%);
  --Color-styles-color-red-70: hsl(349, 84%, 56%);
  --Color-styles-color-red-80: hsl(350, 69%, 52%);
  --Color-styles-color-red-90: hsl(350, 65%, 36%);
  --Color-styles-color-red-bright: hsl(350, 100%, 61%);
  --Color-styles-color-red-mid: hsl(10, 100%, 70%);
  --Color-styles-color-red-pastel: hsl(10, 37%, 81%);
  --Color-styles-color-violet-10: hsl(263, 62%, 95%);
  --Color-styles-color-violet-100: hsl(254, 46%, 36%);
  --Color-styles-color-violet-20: hsl(259, 76%, 92%);
  --Color-styles-color-violet-30: hsl(255, 89%, 86%);
  --Color-styles-color-violet-40: hsl(254, 96%, 80%);
  --Color-styles-color-violet-50: hsl(253, 98%, 75%);
  --Color-styles-color-violet-60: hsl(253, 100%, 67%);
  --Color-styles-color-violet-70: hsl(251, 61%, 60%);
  --Color-styles-color-violet-80: hsl(253, 51%, 53%);
  --Color-styles-color-violet-90: hsl(250, 35%, 44%);
  --Color-styles-color-violet-bright: hsl(253, 100%, 69%);
  --Color-styles-color-violet-mid: hsl(244, 100%, 77%);
  --Color-styles-color-violet-pastel: hsl(225, 51%, 86%);
  --Color-styles-color-warm-grey: hsl(0, 17%, 88%);
  --Color-styles-color-yellow-10: hsl(39, 82%, 93%);
  --Color-styles-color-yellow-100: hsl(43, 100%, 15%);
  --Color-styles-color-yellow-20: hsl(40, 93%, 89%);
  --Color-styles-color-yellow-30: hsl(42, 96%, 79%);
  --Color-styles-color-yellow-40: hsl(42, 99%, 69%);
  --Color-styles-color-yellow-50: hsl(42, 99%, 60%);
  --Color-styles-color-yellow-60: hsl(42, 100%, 50%);
  --Color-styles-color-yellow-70: hsl(42, 100%, 45%);
  --Color-styles-color-yellow-80: hsl(42, 100%, 29%);
  --Color-styles-color-yellow-90: hsl(42, 100%, 20%);
  --Color-styles-color-yellow-bright: hsl(42, 100%, 50%);
  --Color-styles-color-yellow-mid: hsl(40, 77%, 70%);
  --Color-styles-color-yellow-pastel: hsl(38, 37%, 81%);
  --Color-styles-dark-base-alt: hsl(180, 4%, 11%);
  --Color-styles-dark-base-default-color: hsl(180, 5%, 19%);
  --Color-styles-dark-box-disabled-default-color: hsl(0, 0%, 3%);
  --Color-styles-dark-box-disabled-inverse: hsl(180, 1%, 67%);
  --Color-styles-dark-box-disabled-strong: hsl(180, 4%, 27%);
  --Color-styles-dark-box-disabled-strong-inverse: hsl(0, 0%, 3%);
  --Color-styles-dark-box-negative-default-color: hsl(356, 37%, 25%);
  --Color-styles-dark-box-negative-hover: hsl(350, 65%, 36%);
  --Color-styles-dark-box-negative-inverse: hsl(350, 91%, 91%);
  --Color-styles-dark-box-negative-inverse-hover: hsl(352, 79%, 95%);
  --Color-styles-dark-box-negative-inverse-pressed: hsl(0, 0%, 100%);
  --Color-styles-dark-box-negative-pressed: hsl(350, 69%, 52%);
  --Color-styles-dark-box-neutral-default-color: hsl(180, 4%, 27%);
  --Color-styles-dark-box-neutral-hover: hsl(180, 2%, 43%);
  --Color-styles-dark-box-neutral-inverse: hsl(0, 0%, 100%);
  --Color-styles-dark-box-neutral-inverse-hover: hsl(180, 2%, 92%);
  --Color-styles-dark-box-neutral-inverse-pressed: hsl(180, 1%, 84%);
  --Color-styles-dark-box-neutral-mighty: hsl(0, 0%, 100%);
  --Color-styles-dark-box-neutral-mighty-hover: hsl(0, 0%, 95%);
  --Color-styles-dark-box-neutral-mighty-inverse: hsl(0, 0%, 3%);
  --Color-styles-dark-box-neutral-mighty-inverse-hover: hsl(0, 0%, 3%);
  --Color-styles-dark-box-neutral-mighty-inverse-pressed: hsl(0, 0%, 3%);
  --Color-styles-dark-box-neutral-mighty-line: hsl(0, 0%, 3% / 0.15);
  --Color-styles-dark-box-neutral-mighty-pressed: hsl(180, 2%, 92%);
  --Color-styles-dark-box-neutral-pressed: hsl(0, 0%, 3%);
  --Color-styles-dark-box-neutral-strong: hsl(0, 0%, 100%);
  --Color-styles-dark-box-neutral-strong-hover: hsl(0, 0%, 95%);
  --Color-styles-dark-box-neutral-strong-inverse: hsl(180, 5%, 19%);
  --Color-styles-dark-box-neutral-strong-inverse-hover: hsl(180, 4%, 11%);
  --Color-styles-dark-box-neutral-strong-inverse-pressed: hsl(0, 0%, 3%);
  --Color-styles-dark-box-neutral-strong-pressed: hsl(180, 2%, 92%);
  --Color-styles-dark-box-positive-default-color: hsl(164, 26%, 25%);
  --Color-styles-dark-box-positive-hover: hsl(170, 61%, 27%);
  --Color-styles-dark-box-positive-inverse: hsl(169, 54%, 86%);
  --Color-styles-dark-box-positive-inverse-hover: hsl(169, 44%, 92%);
  --Color-styles-dark-box-positive-inverse-pressed: hsl(0, 0%, 100%);
  --Color-styles-dark-box-positive-pressed: hsl(170, 72%, 29%);
  --Color-styles-dark-box-selected-default-color: hsl(254, 46%, 36%);
  --Color-styles-dark-box-selected-hover: hsl(250, 35%, 44%);
  --Color-styles-dark-box-selected-inverse: hsl(259, 76%, 92%);
  --Color-styles-dark-box-selected-inverse-hover: hsl(263, 62%, 95%);
  --Color-styles-dark-box-selected-inverse-pressed: hsl(0, 0%, 100%);
  --Color-styles-dark-box-selected-pressed: hsl(253, 51%, 53%);
  --Color-styles-dark-box-warning-default-color: hsl(43, 100%, 15%);
  --Color-styles-dark-box-warning-hover: hsl(42, 100%, 20%);
  --Color-styles-dark-box-warning-inverse: hsl(39, 82%, 93%);
  --Color-styles-dark-box-warning-inverse-hover: hsl(40, 93%, 89%);
  --Color-styles-dark-box-warning-inverse-pressed: hsl(42, 96%, 79%);
  --Color-styles-dark-box-warning-pressed: hsl(42, 100%, 29%);
  --Color-styles-dark-line-default-color: hsl(0, 0%, 100% / 0.1);
  --Color-styles-dark-line-strong: hsl(0, 0%, 100% / 0.3);
  --Color-styles-dark-line-weak: hsl(0, 0%, 100% / 0.05);
  --Color-styles-dark-line-x-strong: hsl(0, 0%, 100% / 0.5);
  --Color-styles-dark-line-xx-strong: hsl(0, 0%, 100%);
  --Color-styles-dark-overlay-default-color: hsl(0, 0%, 3% / 0.5);
  --Color-styles-dark-shadow-default-color: hsl(0, 0%, 3% / 0.5);
  --Color-styles-dark-shadow-large: hsl(0, 0%, 3% / 0.8);
  --Color-styles-dark-text-default-color: hsl(0, 0%, 100%);
  --Color-styles-dark-text-default-hover: hsl(0, 0%, 100%);
  --Color-styles-dark-text-default-pressed: hsl(0, 0%, 100%);
  --Color-styles-dark-text-disabled: hsl(180, 1%, 67%);
  --Color-styles-dark-text-interactive: hsl(255, 89%, 86%);
  --Color-styles-dark-text-interactive-hover: hsl(259, 76%, 92%);
  --Color-styles-dark-text-interactive-pressed: hsl(263, 62%, 95%);
  --Color-styles-dark-text-negative: hsl(349, 98%, 78%);
  --Color-styles-dark-text-negative-hover: hsl(350, 91%, 91%);
  --Color-styles-dark-text-negative-pressed: hsl(352, 79%, 95%);
  --Color-styles-dark-text-positive: hsl(169, 63%, 63%);
  --Color-styles-dark-text-positive-hover: hsl(169, 54%, 86%);
  --Color-styles-dark-text-positive-pressed: hsl(169, 44%, 92%);
  --Color-styles-dark-text-warning: hsl(42, 99%, 60%);
  --Color-styles-dark-text-warning-hover: hsl(40, 93%, 89%);
  --Color-styles-dark-text-warning-pressed: hsl(39, 82%, 93%);
  --Color-styles-dark-text-weak: hsl(180, 2%, 92%);
  --Color-styles-dark-text-weak-hover: hsl(0, 0%, 100%);
  --Color-styles-dark-text-weak-pressed: hsl(0, 0%, 100%);
  --Color-styles-dark-text-x-weak: hsl(180, 1%, 67%);
  --Color-styles-focus-ring: hsl(253, 98%, 75%);
  --Color-styles-line-default-color: hsl(0, 0%, 3% / 0.1);
  --Color-styles-line-strong: hsl(0, 0%, 3% / 0.15);
  --Color-styles-line-weak: hsl(0, 0%, 3% / 0.03);
  --Color-styles-line-x-strong: hsl(0, 0%, 3% / 0.3);
  --Color-styles-line-xx-strong: hsl(180, 5%, 19%);
  --Color-styles-overlay-default-color: hsl(180, 2%, 92% / 0.5);
  --Color-styles-overlay-scroll-overflow-horizontal-end: linear-gradient(
    0deg,
    hsl(180, 2%, 91% / 0) 0%,
    hsl(180, 2%, 91%) 100%
  );
  --Color-styles-overlay-scroll-overflow-horizontal-start: linear-gradient(
    0deg,
    hsl(180, 2%, 91% / 0) 0%,
    hsl(180, 2%, 91%) 100%
  );
  --Color-styles-overlay-scroll-overflow-vertical-end: linear-gradient(
    0deg,
    hsl(180, 2%, 91% / 0) 0%,
    hsl(180, 2%, 91%) 100%
  );
  --Color-styles-overlay-scroll-overflow-vertical-start: linear-gradient(
    0deg,
    hsl(180, 2%, 91% / 0) 0%,
    hsl(180, 2%, 91%) 100%
  );
  --Color-styles-shadow-default-color: hsl(0, 0%, 3% / 0.15);
  --Color-styles-shadow-large: hsl(0, 0%, 3% / 0.2);
  --Color-styles-text-default-color: hsl(180, 5%, 19%);
  --Color-styles-text-default-hover: hsl(180, 4%, 11%);
  --Color-styles-text-default-pressed: hsl(0, 0%, 3%);
  --Color-styles-text-disabled: hsl(180, 1%, 67%);
  --Color-styles-text-interactive: hsl(251, 61%, 60%);
  --Color-styles-text-interactive-hover: hsl(250, 35%, 44%);
  --Color-styles-text-interactive-pressed: hsl(254, 46%, 36%);
  --Color-styles-text-negative: hsl(350, 69%, 52%);
  --Color-styles-text-negative-hover: hsl(350, 65%, 36%);
  --Color-styles-text-negative-pressed: hsl(356, 37%, 25%);
  --Color-styles-text-positive: hsl(170, 72%, 29%);
  --Color-styles-text-positive-hover: hsl(170, 61%, 27%);
  --Color-styles-text-positive-pressed: hsl(164, 26%, 25%);
  --Color-styles-text-warning: hsl(42, 100%, 29%);
  --Color-styles-text-warning-hover: hsl(42, 100%, 20%);
  --Color-styles-text-warning-pressed: hsl(43, 100%, 15%);
  --Color-styles-text-weak: hsl(180, 2%, 43%);
  --Color-styles-text-weak-hover: hsl(180, 4%, 27%);
  --Color-styles-text-weak-pressed: hsl(180, 5%, 19%);
  --Color-styles-text-x-weak: hsl(180, 1%, 51%);
  --Effect-styles-focus-ring-1: 0px 0px 0px 8px hsl(0, 0%, 100%),
    0px 0px 0px 6px hsl(208, 59%, 60%), 0px 0px 0px 2px hsl(0, 0%, 100%);
  --Effect-styles-shadow-big: 0px 25px 80px 0px hsl(0, 0%, 3% / 0.2);
  --Effect-styles-shadow-bottom: 0px 10px 10px -5px hsl(0, 0%, 3% / 0.15);
  --Effect-styles-shadow-default: 0px 3px 10px 0px hsl(0, 0%, 3% / 0.15);
  --Effect-styles-shadow-mid: 0px 4px 24px 0px hsl(0, 0%, 3% / 0.2);
  --Effect-styles-shadow-top: 0px -10px 10px -5px hsl(0, 0%, 3% / 0.15);
  --Text-styles-body-large-font-style: normal;
  --Text-styles-body-large-font-family: "Space Grotesk Frontify";
  --Text-styles-body-large-font-weight: regular;
  --Text-styles-body-large-font-size: 16px;
  --Text-styles-body-large-text-indent: 0px;
  --Text-styles-body-large-line-height: 20px;
  --Text-styles-body-large-letter-spacing: 0%;
  --Text-styles-body-large-text-transform: none;
  --Text-styles-body-large-text-decoration: none;
  --Text-styles-body-large-strong-font-style: normal;
  --Text-styles-body-large-strong-font-family: "Space Grotesk Frontify";
  --Text-styles-body-large-strong-font-weight: medium;
  --Text-styles-body-large-strong-font-size: 16px;
  --Text-styles-body-large-strong-text-indent: 0px;
  --Text-styles-body-large-strong-line-height: 20px;
  --Text-styles-body-large-strong-letter-spacing: 0%;
  --Text-styles-body-large-strong-text-transform: none;
  --Text-styles-body-large-strong-text-decoration: none;
  --Text-styles-body-large-x-strong-font-style: normal;
  --Text-styles-body-large-x-strong-font-family: "Space Grotesk Frontify";
  --Text-styles-body-large-x-strong-font-weight: bold;
  --Text-styles-body-large-x-strong-font-size: 16px;
  --Text-styles-body-large-x-strong-text-indent: 0px;
  --Text-styles-body-large-x-strong-line-height: 20px;
  --Text-styles-body-large-x-strong-letter-spacing: 0%;
  --Text-styles-body-large-x-strong-text-transform: none;
  --Text-styles-body-large-x-strong-text-decoration: none;
  --Text-styles-body-medium-font-style: normal;
  --Text-styles-body-medium-font-family: "Space Grotesk Frontify";
  --Text-styles-body-medium-font-weight: regular;
  --Text-styles-body-medium-font-size: 14px;
  --Text-styles-body-medium-text-indent: 0px;
  --Text-styles-body-medium-line-height: 16px;
  --Text-styles-body-medium-letter-spacing: 0%;
  --Text-styles-body-medium-text-transform: none;
  --Text-styles-body-medium-text-decoration: none;
  --Text-styles-body-medium-strong-font-style: normal;
  --Text-styles-body-medium-strong-font-family: "Space Grotesk Frontify";
  --Text-styles-body-medium-strong-font-weight: medium;
  --Text-styles-body-medium-strong-font-size: 14px;
  --Text-styles-body-medium-strong-text-indent: 0px;
  --Text-styles-body-medium-strong-line-height: 16px;
  --Text-styles-body-medium-strong-letter-spacing: 0%;
  --Text-styles-body-medium-strong-text-transform: none;
  --Text-styles-body-medium-strong-text-decoration: none;
  --Text-styles-body-medium-x-strong-font-style: normal;
  --Text-styles-body-medium-x-strong-font-family: "Space Grotesk Frontify";
  --Text-styles-body-medium-x-strong-font-weight: bold;
  --Text-styles-body-medium-x-strong-font-size: 14px;
  --Text-styles-body-medium-x-strong-text-indent: 0px;
  --Text-styles-body-medium-x-strong-line-height: 16px;
  --Text-styles-body-medium-x-strong-letter-spacing: 0%;
  --Text-styles-body-medium-x-strong-text-transform: none;
  --Text-styles-body-medium-x-strong-text-decoration: none;
  --Text-styles-body-small-font-style: normal;
  --Text-styles-body-small-font-family: "Space Grotesk Frontify";
  --Text-styles-body-small-font-weight: regular;
  --Text-styles-body-small-font-size: 13px;
  --Text-styles-body-small-text-indent: 0px;
  --Text-styles-body-small-line-height: 16px;
  --Text-styles-body-small-letter-spacing: 0%;
  --Text-styles-body-small-text-transform: none;
  --Text-styles-body-small-text-decoration: none;
  --Text-styles-body-small-strong-font-style: normal;
  --Text-styles-body-small-strong-font-family: "Space Grotesk Frontify";
  --Text-styles-body-small-strong-font-weight: medium;
  --Text-styles-body-small-strong-font-size: 13px;
  --Text-styles-body-small-strong-text-indent: 0px;
  --Text-styles-body-small-strong-line-height: 16px;
  --Text-styles-body-small-strong-letter-spacing: 0%;
  --Text-styles-body-small-strong-text-transform: none;
  --Text-styles-body-small-strong-text-decoration: none;
  --Text-styles-body-small-x-strong-font-style: normal;
  --Text-styles-body-small-x-strong-font-family: "Space Grotesk Frontify";
  --Text-styles-body-small-x-strong-font-weight: bold;
  --Text-styles-body-small-x-strong-font-size: 13px;
  --Text-styles-body-small-x-strong-text-indent: 0px;
  --Text-styles-body-small-x-strong-line-height: 16px;
  --Text-styles-body-small-x-strong-letter-spacing: 0%;
  --Text-styles-body-small-x-strong-text-transform: none;
  --Text-styles-body-small-x-strong-text-decoration: none;
  --Text-styles-body-x-small-font-style: normal;
  --Text-styles-body-x-small-font-family: "Space Grotesk Frontify";
  --Text-styles-body-x-small-font-weight: regular;
  --Text-styles-body-x-small-font-size: 12px;
  --Text-styles-body-x-small-text-indent: 0px;
  --Text-styles-body-x-small-line-height: 16px;
  --Text-styles-body-x-small-letter-spacing: 0%;
  --Text-styles-body-x-small-text-transform: none;
  --Text-styles-body-x-small-text-decoration: none;
  --Text-styles-body-x-small-strong-font-style: normal;
  --Text-styles-body-x-small-strong-font-family: "Space Grotesk Frontify";
  --Text-styles-body-x-small-strong-font-weight: medium;
  --Text-styles-body-x-small-strong-font-size: 12px;
  --Text-styles-body-x-small-strong-text-indent: 0px;
  --Text-styles-body-x-small-strong-line-height: 16px;
  --Text-styles-body-x-small-strong-letter-spacing: 0%;
  --Text-styles-body-x-small-strong-text-transform: none;
  --Text-styles-body-x-small-strong-text-decoration: none;
  --Text-styles-body-x-small-x-strong-font-style: normal;
  --Text-styles-body-x-small-x-strong-font-family: "Space Grotesk Frontify";
  --Text-styles-body-x-small-x-strong-font-weight: bold;
  --Text-styles-body-x-small-x-strong-font-size: 12px;
  --Text-styles-body-x-small-x-strong-text-indent: 0px;
  --Text-styles-body-x-small-x-strong-line-height: 16px;
  --Text-styles-body-x-small-x-strong-letter-spacing: 0%;
  --Text-styles-body-x-small-x-strong-text-transform: none;
  --Text-styles-body-x-small-x-strong-text-decoration: none;
  --Text-styles-code-large-font-style: normal;
  --Text-styles-code-large-font-family: "Menlo";
  --Text-styles-code-large-font-weight: regular;
  --Text-styles-code-large-font-size: 16px;
  --Text-styles-code-large-text-indent: 0px;
  --Text-styles-code-large-line-height: 20px;
  --Text-styles-code-large-letter-spacing: 0%;
  --Text-styles-code-large-text-transform: none;
  --Text-styles-code-large-text-decoration: none;
  --Text-styles-code-large-strong-font-style: normal;
  --Text-styles-code-large-strong-font-family: "Menlo";
  --Text-styles-code-large-strong-font-weight: bold;
  --Text-styles-code-large-strong-font-size: 16px;
  --Text-styles-code-large-strong-text-indent: 0px;
  --Text-styles-code-large-strong-line-height: 20px;
  --Text-styles-code-large-strong-letter-spacing: 0%;
  --Text-styles-code-large-strong-text-transform: none;
  --Text-styles-code-large-strong-text-decoration: none;
  --Text-styles-code-large-x-strong-font-style: normal;
  --Text-styles-code-large-x-strong-font-family: "Menlo";
  --Text-styles-code-large-x-strong-font-weight: bold;
  --Text-styles-code-large-x-strong-font-size: 16px;
  --Text-styles-code-large-x-strong-text-indent: 0px;
  --Text-styles-code-large-x-strong-line-height: 20px;
  --Text-styles-code-large-x-strong-letter-spacing: 0%;
  --Text-styles-code-large-x-strong-text-transform: none;
  --Text-styles-code-large-x-strong-text-decoration: none;
  --Text-styles-code-medium-font-style: normal;
  --Text-styles-code-medium-font-family: "Menlo";
  --Text-styles-code-medium-font-weight: regular;
  --Text-styles-code-medium-font-size: 14px;
  --Text-styles-code-medium-text-indent: 0px;
  --Text-styles-code-medium-line-height: 16px;
  --Text-styles-code-medium-letter-spacing: 0%;
  --Text-styles-code-medium-text-transform: none;
  --Text-styles-code-medium-text-decoration: none;
  --Text-styles-code-medium-strong-font-style: normal;
  --Text-styles-code-medium-strong-font-family: "Menlo";
  --Text-styles-code-medium-strong-font-weight: bold;
  --Text-styles-code-medium-strong-font-size: 14px;
  --Text-styles-code-medium-strong-text-indent: 0px;
  --Text-styles-code-medium-strong-line-height: 16px;
  --Text-styles-code-medium-strong-letter-spacing: 0%;
  --Text-styles-code-medium-strong-text-transform: none;
  --Text-styles-code-medium-strong-text-decoration: none;
  --Text-styles-code-medium-x-strong-font-style: normal;
  --Text-styles-code-medium-x-strong-font-family: "Menlo";
  --Text-styles-code-medium-x-strong-font-weight: bold;
  --Text-styles-code-medium-x-strong-font-size: 14px;
  --Text-styles-code-medium-x-strong-text-indent: 0px;
  --Text-styles-code-medium-x-strong-line-height: 16px;
  --Text-styles-code-medium-x-strong-letter-spacing: 0%;
  --Text-styles-code-medium-x-strong-text-transform: none;
  --Text-styles-code-medium-x-strong-text-decoration: none;
  --Text-styles-code-small-font-style: normal;
  --Text-styles-code-small-font-family: "Menlo";
  --Text-styles-code-small-font-weight: regular;
  --Text-styles-code-small-font-size: 13px;
  --Text-styles-code-small-text-indent: 0px;
  --Text-styles-code-small-line-height: 16px;
  --Text-styles-code-small-letter-spacing: 0%;
  --Text-styles-code-small-text-transform: none;
  --Text-styles-code-small-text-decoration: none;
  --Text-styles-code-small-strong-font-style: normal;
  --Text-styles-code-small-strong-font-family: "Menlo";
  --Text-styles-code-small-strong-font-weight: bold;
  --Text-styles-code-small-strong-font-size: 13px;
  --Text-styles-code-small-strong-text-indent: 0px;
  --Text-styles-code-small-strong-line-height: 16px;
  --Text-styles-code-small-strong-letter-spacing: 0%;
  --Text-styles-code-small-strong-text-transform: none;
  --Text-styles-code-small-strong-text-decoration: none;
  --Text-styles-code-small-x-strong-font-style: normal;
  --Text-styles-code-small-x-strong-font-family: "Menlo";
  --Text-styles-code-small-x-strong-font-weight: bold;
  --Text-styles-code-small-x-strong-font-size: 13px;
  --Text-styles-code-small-x-strong-text-indent: 0px;
  --Text-styles-code-small-x-strong-line-height: 16px;
  --Text-styles-code-small-x-strong-letter-spacing: 0%;
  --Text-styles-code-small-x-strong-text-transform: none;
  --Text-styles-code-small-x-strong-text-decoration: none;
  --Text-styles-heading-large-font-style: normal;
  --Text-styles-heading-large-font-family: "Space Grotesk Frontify";
  --Text-styles-heading-large-font-weight: medium;
  --Text-styles-heading-large-font-size: 16px;
  --Text-styles-heading-large-text-indent: 0px;
  --Text-styles-heading-large-line-height: 20px;
  --Text-styles-heading-large-letter-spacing: 0%;
  --Text-styles-heading-large-text-transform: none;
  --Text-styles-heading-large-text-decoration: none;
  --Text-styles-heading-large-strong-font-style: normal;
  --Text-styles-heading-large-strong-font-family: "Space Grotesk Frontify";
  --Text-styles-heading-large-strong-font-weight: bold;
  --Text-styles-heading-large-strong-font-size: 16px;
  --Text-styles-heading-large-strong-text-indent: 0px;
  --Text-styles-heading-large-strong-line-height: 20px;
  --Text-styles-heading-large-strong-letter-spacing: 0%;
  --Text-styles-heading-large-strong-text-transform: none;
  --Text-styles-heading-large-strong-text-decoration: none;
  --Text-styles-heading-medium-font-style: normal;
  --Text-styles-heading-medium-font-family: "Space Grotesk Frontify";
  --Text-styles-heading-medium-font-weight: medium;
  --Text-styles-heading-medium-font-size: 14px;
  --Text-styles-heading-medium-text-indent: 0px;
  --Text-styles-heading-medium-line-height: 16px;
  --Text-styles-heading-medium-letter-spacing: 0%;
  --Text-styles-heading-medium-text-transform: none;
  --Text-styles-heading-medium-text-decoration: none;
  --Text-styles-heading-medium-strong-font-style: normal;
  --Text-styles-heading-medium-strong-font-family: "Space Grotesk Frontify";
  --Text-styles-heading-medium-strong-font-weight: bold;
  --Text-styles-heading-medium-strong-font-size: 14px;
  --Text-styles-heading-medium-strong-text-indent: 0px;
  --Text-styles-heading-medium-strong-line-height: 16px;
  --Text-styles-heading-medium-strong-letter-spacing: 0%;
  --Text-styles-heading-medium-strong-text-transform: none;
  --Text-styles-heading-medium-strong-text-decoration: none;
  --Text-styles-heading-x-large-font-style: normal;
  --Text-styles-heading-x-large-font-family: "Space Grotesk Frontify";
  --Text-styles-heading-x-large-font-weight: medium;
  --Text-styles-heading-x-large-font-size: 20px;
  --Text-styles-heading-x-large-text-indent: 0px;
  --Text-styles-heading-x-large-line-height: 24px;
  --Text-styles-heading-x-large-letter-spacing: 0%;
  --Text-styles-heading-x-large-text-transform: none;
  --Text-styles-heading-x-large-text-decoration: none;
  --Text-styles-heading-x-large-strong-font-style: normal;
  --Text-styles-heading-x-large-strong-font-family: "Space Grotesk Frontify";
  --Text-styles-heading-x-large-strong-font-weight: bold;
  --Text-styles-heading-x-large-strong-font-size: 20px;
  --Text-styles-heading-x-large-strong-text-indent: 0px;
  --Text-styles-heading-x-large-strong-line-height: 24px;
  --Text-styles-heading-x-large-strong-letter-spacing: 0%;
  --Text-styles-heading-x-large-strong-text-transform: none;
  --Text-styles-heading-x-large-strong-text-decoration: none;
  --Text-styles-heading-xx-large-font-style: normal;
  --Text-styles-heading-xx-large-font-family: "Space Grotesk Frontify";
  --Text-styles-heading-xx-large-font-weight: medium;
  --Text-styles-heading-xx-large-font-size: 24px;
  --Text-styles-heading-xx-large-text-indent: 0px;
  --Text-styles-heading-xx-large-line-height: 28px;
  --Text-styles-heading-xx-large-letter-spacing: 0%;
  --Text-styles-heading-xx-large-text-transform: none;
  --Text-styles-heading-xx-large-text-decoration: none;
  --Text-styles-heading-xx-large-strong-font-style: normal;
  --Text-styles-heading-xx-large-strong-font-family: "Space Grotesk Frontify";
  --Text-styles-heading-xx-large-strong-font-weight: bold;
  --Text-styles-heading-xx-large-strong-font-size: 24px;
  --Text-styles-heading-xx-large-strong-text-indent: 0px;
  --Text-styles-heading-xx-large-strong-line-height: 28px;
  --Text-styles-heading-xx-large-strong-letter-spacing: 0%;
  --Text-styles-heading-xx-large-strong-text-transform: none;
  --Text-styles-heading-xx-large-strong-text-decoration: none;
}
